<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Csv Parse</title>
  </head>
  <body>
    <h2>{{range .Headers}}{{.}}, {{end}}</h1>
    {{range .Rows}}
      <div>{{.Date}} - {{.Open}}</div>
    {{end}}
  </body>
</html>
