<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>

{{range .}}

<div>
  <h2>{{.AcaYear}}</h2>
  {{range .Semesters}}
    <div>
      <h3>{{.Term}}</h3>
        <ul>
          {{range .Courses}}
          <li>{{.Number}} - {{.Name}} - {{.Units}}</li>
          {{end}}
        </ul>
    </div>
  {{end}}
</div>

{{end}}

</body>
</html>
